body {
	margin: 0;
	padding: 0;
	line-height: 1.7em;
	letter-spacing: 1px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 11px;
	color: #666;
    background: #ffffff url(../images/templatemo_body_top.jpg) repeat-x top;
}
		
a:link, a:visited { color: #0066CC; text-decoration: none; font-weight: normal; } 
a:active, a:hover { color: #CC0000; text-decoration: underline; }

p { margin: 0px; padding: 0px; }

img { margin: 0px; padding: 0px; border: none; }

.float_l {
	float: left;
}

.float_r {
	float: right;
}

tt{ font-family:Arial, Helvetica, sans-serif;}
.divider {
	background: url(../images/templatemo_divider.png) repeat-x bottom;
}

.cleaner { clear: both; width: 100%; height: 0px; font-size: 0px;  }

.cleaner_h10 { clear: both; width:100%; height: 10px; }
.cleaner_h20 { clear: both; width:100%; height: 20px; }
.cleaner_h30 { clear: both; width:100%; height: 30px; }
.cleaner_h40 { clear: both; width:100%; height: 40px; }
.cleaner_h50 { clear: both; width:100%; height: 50px; }
.cleaner_h60 { clear: both; width:100%; height: 60px; }

.margin_r30 { margin-right: 30px; }

.button_01 a {
	display: block;
	margin-top: 15px;
	width: 93px;
	height: 26px;
	padding: 7px 30px 0 0;
	color: #666666;
	font-size: 16px;
	font-weight: normal;
	text-align: center;
	text-decoration: none;
	background: url(../images/templatemo_button.png) no-repeat;
}

.button_01 a:hover {
	background: url(../images/templatemo_button_hover.png) no-repeat;
	color: #333333;
}

h2 {
	margin: 0 0 10px 0;
	padding: 10px 0 15px 0;
	font-size: 26px;
	font-weight: normal;
	color: #96e135;
	background: url(../images/templatemo_title_bg.jpg) bottom left no-repeat;
}

h3 {
	margin: 0	;
	padding: 2px 0;
	font-size: 18px;
	font-weight: normal;
	color: #000000;
}

#templatemo_wrapper {
	width: 990px;
	margin: 0 auto;
	margin-bottom:80px;
}

/* header */

#templatemo_site_title_bar {
	width: 970px;
	height: 90px;
	padding: 0 10px;
	background: url(../images/templatemo_header_bg.jpg) top center;
}

#templatemo_site_title_bar  #site_title {
	float: left;
	background: url(../images/logo_dosen.png) top ;
	background-repeat:no-repeat;
	width: 600px;
	height:50px;
	padding: 30px 10px 0 15px;
	overflow: hidden;
}

#site_title h1 {
	margin: 0;
	padding: 0;
}

#site_title h1 a {
	margin: 0px;
	padding: 0px;
	font-size: 30px;
	color: #ffffff;
	font-weight: bold;
	text-decoration: none;
}

#site_title h1 a:hover {
	font-weight: bold;	
	text-decoration: none;
}

#site_title h1 a span {
	display: block;
	margin-top: 10px;
	margin-left: 5px;
	font-size: 12px;
	color: #999;
	font-weight: normal;
	letter-spacing: 2px;
}

#templatemo_site_title_bar .social_network {
	float: right;
	margin: 0px;
	padding: 8px 65px 0 0;
	list-style: none;
}


.social_network li {
	margin: 0px;
	padding: 0px;
	display: inline;
}

.social_network li a {
	float: left;
	display: block;
	width: 62px;
	height: 78px;
	margin-left: 10px;
}

/* end of header */

/* menu */

#templatemo_menu {
	width: 970px;
	height: 60px;
	padding: 0 10px;
	background: url(../images/templatemo_menu_bar.jpg) no-repeat;
}

#templatemo_menu ul {
	float: left;
	margin: 0px;
	padding: 15px 0 0 20px;
	list-style: none;
}

#templatemo_menu ul li {
	padding: 0px;
	margin: 0px;
	display: inline;
}

#templatemo_menu ul li a {
	position: relative;
	float: left;
	display: block;
	width: 120px;
	height: 35px;
	padding: 5px 0 0 0;
	margin-right: 15px;
	text-align: center;
	font-size: 16px;
	text-decoration: none;
	color: #333;	
	font-weight: bold;
	outline: none;
}

#templatemo_menu li a:hover, #templatemo_menu li .current {
	background: url(../images/templatemo_menu_hover.png) no-repeat;
}

/* end of menu */


/* content */

#templatemo_content {
	clear: both;
	width: 900px;
	padding: 0 45px;
	;
	background-image: url(../images/templatemo_content_middle.png);
	background-repeat: repeat-y;
}

#templatemo_admin_content_top {
	clear: both;
	width: 990px;
	height: 70px;
	background-image: url(../images/templatemo_admin_content_top.png);
	background-repeat: no-repeat;
}

#templatemo_content_bottom {
	clear: both;
	width: 990px;
	height: 35px;
	background: url(../images/templatemo_content_bottom.jpg) no-repeat;
}

.section_w900 {
	clear: both;
	width: 900px;
}
#templatemo_content #isian{
	float:left;
	margin-right:20px;
	padding-right:20px;
	width: 680px;
	border-right:#666666 1px   dotted;
}

#templatemo_content #isian h1{
	padding-bottom: 20px;
}

#templatemo_content #left_content{
	clear: both;
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:1px solid #999999;
}
.box {
	float: left;
	width: 165px;
	padding: 0 10px 0 0;
}

.box_border {
	border-right: 1px dotted #999;
}

.box h2 {
	color: #9b1919;
	font-size: 20px;
	margin-bottom: 10px;
}

.box .box_image_wrapper {
	float: left;
	text-align: center;
	margin-right: 20px;
}

/* end of content */

/* footer */

#templatemo_footer {
	clear: both;
	width: 970px;
	margin: 0 auto;
	padding: 40px 10px;
	color: #666;
}

#templatemo_footer  a {
	color: #000000;
}

#templatemo_footer .section_w240 {
	float: left;
	width: 200px;
	padding-right: 40px;
}

#templatemo_footer .section_w240 h3 {
	font-size:14px;
	margin-bottom: 10px;
	font-weight: bold;
	color: #333;
}

#templatemo_footer .footer_list {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

#templatemo_footer .footer_list li {
	margin: 0px;
	padding: 3px 0;
}

#templatemo_footer .footer_list li a {
	color: #666;
}

#templatemo_footer .footer_list li a:hover {
	color: #0068e9;
	text-decoration: none;
}
/* end of footer */



